#sticky-footer {
    flex-shrink: none;
}

body{
    padding: 0;
    margin: 0;
    background-size: cover;
    text-transform: capitalize;
}
.card{
    font-size: black;
    border-radius: 20% 0% 20% 0%;
    border-width: 2px;
}
.pokemon:hover{
    transition: 0.5s;
    border-width: 4px;
    border-color: rgb(0, 255, 64);
    height: 105%;
    width: 105%;
    border-radius: 15%;
}
/*rotate image-03 css*/
.rotate_03{
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    -webkit-animation: spin 0.7s linear infinite;
    -moz-animation: spin 0.7s linear infinite;
    animation: spin 0.7s linear infinite;
}

/*use keyframes*/
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
                           